<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Restaurantes</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="../assets/img/icons/R.png">
  </head>
  <body>
    <h1 class="centered-title">Gestor de Restaurantes</h1>

    <div class="container">
      <p>Bienvenido al Gestor de Restaurantes. Esta herramienta te permite administrar y buscar restaurantes de manera eficiente.</p>
      
      <p>Utiliza las siguientes opciones:</p>
      
      <ul>
      <li>
        <a href="/restaurants">Ver todos los restaurantes</a> - Accede a la lista completa de restaurantes registrados.
      </li>
      <li>
        <a href="/addRestaurant">Agregar restaurante</a> - Agrega un nuevo restaurante a la base de datos.
      </li>
      <li>
        <a href="/restaurants">Buscar restaurantes</a> - Realiza búsquedas personalizadas para encontrar restaurantes según tus preferencias.
      </li>
    </ul>
  </div>
</body>
</html>